attrs==22.2.0 ; python_version >= "3.9" and python_version < "3.10"
aws-cdk-asset-awscli-v1==2.2.98 ; python_version >= "3.9" and python_version < "3.10"
aws-cdk-asset-kubectl-v20==2.1.1 ; python_version >= "3.9" and python_version < "3.10"
aws-cdk-asset-node-proxy-agent-v5==2.0.78 ; python_version >= "3.9" and python_version < "3.10"
aws-cdk-lib==2.67.0 ; python_version >= "3.9" and python_version < "3.10"
cattrs==22.2.0 ; python_version >= "3.9" and python_version < "3.10"
constructs==10.1.271 ; python_version >= "3.9" and python_version < "3.10"
exceptiongroup==1.1.0 ; python_version >= "3.9" and python_version < "3.10"
importlib-resources==5.12.0 ; python_version >= "3.9" and python_version < "3.10"
jsii==1.77.0 ; python_version >= "3.9" and python_version < "3.10"
publication==0.0.3 ; python_version >= "3.9" and python_version < "3.10"
python-dateutil==2.8.2 ; python_version >= "3.9" and python_version < "3.10"
six==1.16.0 ; python_version >= "3.9" and python_version < "3.10"
typeguard==2.13.3 ; python_version >= "3.9" and python_version < "3.10"
typing-extensions==4.5.0 ; python_version >= "3.9" and python_version < "3.10"
zipp==3.15.0 ; python_version >= "3.9" and python_version < "3.10"
